body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #efefef;
  }
  
  .App {
      margin: 30px;
      padding: 30px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 5px 5px 10px #aaa;
  }
  
  .Formulario {
      margin: 15px 0 0 0;
  }
  
  .Pesquisa {
      margin: 10px;
      width: 200px;
  }
  .Pesquisa > input {
      padding: 8px 15px;
      font-size: 1rem;
      border: 1px solid #aaa;
      border-radius: 10px;
      width: 100%;
  }
  
  .Ordenacao {
      margin: 10px;
      padding: 5px;
  }
  .Ordenacao > label {
      font-size: 0.8rem;
      padding: 0 5px;
  }
  .Ordenacao > select {
      font-size: 1.1rem;
  }
  
  .Opcoes > div {
      padding: 0 10px;
  }
  
  /* BOTOES */
  .botao {
      margin: 10px;
      padding: 8px 15px;
      /*border: 1px solid #272727;*/
      border-radius: 8px;
      color: #272727;
      background-color: #fefefe;
      font-size: 1rem;
      cursor: pointer;
  }
  
  .botao-verde {
      color: #fefefe;
      background-color: #0e6318;
  }
  .botao-verde:hover {
      background-color: #16a026;
  }
  .botao-azul {
      color: #fefefe;
      background-color: #1360b2;
  }
  .botao-azul:hover {
      background-color: #063466;
  }
  .botao-laranja {
      color: #fefefe;
      background-color: #bf7b22;
  }
  .botao-laranja:hover {
      background-color: #824e0a;
  }
  .botao-vermelho {
      color: #fefefe;
      background-color: #990418;
  }
  .botao-vermelho:hover {
      background-color: #720312;
  }
  
  /*INPUT*/
  .Input {
      margin: 10px 0;
  }
  .Input > label {
      display: block;
      font-size: 1rem;
  }
  .Input > input {
      margin: 5px;
      padding: 8px 15px;
      font-size: 1rem;
      border: 1px solid #777;
      border-radius: 8px;
  }
  .Input > small {
      color: #ff0000;
  }
  
  /*FLEX*/
  .flex {
      display: flex;
  }
  .horizontal {
      flex-direction: row;
  }
  /*tabela*/
  td, th {
      padding: 8px;
  }